* {
    margin: 0px;
    padding: 0px;
}

/* Header Started */

header {
    background-image: url("./Assets/Hero-bg.png");

}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 158px;

}

.navbar h1 {
    color: #4E47FF;
    font-family: Inter;
    font-size: 34px;
    font-weight: 900px;
    line-height: 51px;
    margin-left: 151px;

}

.button {
    background-color: #4E47FF;
    color: #FFF;
    font-weight: 700px;
    line-height: 24px;
    font-style: Raleway;
    font-size: 16px;
    border-radius: 10px;
    height: 43px;
    padding: 12px 36px;
    border: none;
    display: flex;
    align-items: center;

}

.button:hover {
    background-color: darkgreen;
}

.banner h1 {
    color: #252432;
    font-family: Raleway;
    text-align: center;
    font-size: 65px;
    font-weight: 700px;
    padding-bottom: 37px;
}

/* Main Started */

/* Main Section 1 Started */
.sec-1 {

    padding-top: 116px;
    margin-bottom: 116px;
    display: flex;
    justify-content: space-between;
}

.written1 {
    margin-left: 141px;
    padding-top: 63px;
}

.img1 {
    margin-right: 160px;
}

.img1 img {
    border-radius: 48px;
}

#action {
    margin-bottom: 23px;
    color: #252432;
    font-size: 42px;
    font-weight: 700px;
    font-family: Raleway;

}

#explore {
    margin-bottom: 23px;
    color: rgba(37, 36, 50, 0.50);
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
}

/* Main Section 2 started */
main {
    background-color: #F5F8FF;
}

.sec-2 {
    background-color: rgba(78, 71, 255, 0.10);
    padding: 50px 80px;
    border: none;
    margin-left: 141px;
    margin-right: 159px;
    margin-bottom: 137px;
    border-radius: 24px;
}

#joined {
    color: #252432;
    margin-bottom: 48px;
    font-size: 38px;
    font-family: Raleway;
    text-align: center;
    font-weight: 700px;
}

.calculation {
    display: flex;
    justify-content: center;
}

.cal {
    color: #4E47FF;
    font-size: 80px;
    font-weight: 700px;
    font-family: Inter;
}

.undercal {
    color: rgba(0, 0, 0, 0.50);
    font-size: 20px;
    font-weight: 400px;
    font-family: Inter;
}

.cal-1 {
    margin-right: 158px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cal-2 {
    margin-right: 158px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cal-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Section 3 starts */

.sec-3 {
    padding-bottom: 137px;
}

#desc3 {
    font-family: Raleway;
    font-size: 42px;
    font-weight: 700px;
    color: #252432;
    text-align: center;
    margin-bottom: 50px;
}

.star {
    margin-bottom: 20px;
}

.cart-h {
    margin-bottom: 10px;
    line-height: 28px;
    font-style: Raleway;

}

.cart-p {
    margin-bottom: 20px;
    line-height: 22.4px;
    font-style: Raleway;
}

.Reviewer {
    display: flex;
    gap: 10px;
    align-items: center;
}

.Reviewer img {
    border-radius: 100px;
}

.cart-1 {
    width: 300px;
    border-radius: 14px;
    padding: 20px 20px;
    background-color: rgba(255, 255, 255, 0.50);
}

.carts {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.Reviewer-date {
    color: rgba(37, 36, 50, 0.20);
    font-weight: 200px;
    font-family: Inter;
}

.Reviewer-name {
    color: darkslategray;
    font-weight: 700px;
    font-family: Inter;
}

.cart-1 h1 {
    font-family: Inter;
}

/* Section 4 started */

.sec-4 {
    background-color: #FFF;
    margin-right: 150px;
    margin-left: 150px;
    padding: 70px 150px;
    border: none;
    border-radius: 14px;
    padding-bottom: 71px;
}

.sec-4 h1 {
    margin-bottom: 20px;
    color: #000;
    font-size: 50px;
    font-weight: 700px;
    font-family: Raleway;
    text-align: center;
}

.sec-4 p {
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
    line-height: 23px;
}

.sec-4 button {
    margin-bottom: 20px;
}

.sec-4 img {
    border-radius: 48px;
    display: flex;
    margin: auto;
}

/* Section 5 started */

.sec-5 {
    padding-top: 92px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 104px;
}

.sec-5 h1 {
    color: #000;
    font-size: 97px;
    font-weight: 700px;
    font-family: Raleway;
}

.inp-1 {
    display: flex;
    align-items: center;
    min-width: 430px;
    margin-top: 6px;
    padding: 20px 32px;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    background-color: #FFF;
    gap: 10px;
}

.form-btn {
    display: flex;
    min-width: 495px;
    padding: 19px 101px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #4E47FF;
    color: #FFF;
    border-radius: 10px;
    border: none;
}

.form-btn:hover {
    background-color: darkgreen;
}

.lbl {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}