* {
    margin: 0px;
    padding: 0px;
}

/* Header Started */

header {
    background-image: url("./Assets/Hero-bg.png");

}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 158px;

}

.navbar h1 {
    color: #4E47FF;
    font-family: Inter;
    font-size: 34px;
    font-weight: 900px;
    line-height: 51px;
    margin-left: 151px;

}

.button {
    background-color: #4E47FF;
    color: #FFF;
    font-weight: 700px;
    line-height: 24px;
    font-style: Raleway;
    font-size: 16px;
    border-radius: 10px;
    height: 43px;
    padding: 12px 36px;
    border: none;
    display: flex;
    align-items: center;

}

.banner h1 {
    color: #252432;
    font-family: Raleway;
    text-align: center;
    font-size: 65px;
    font-weight: 700px;
    padding-bottom: 37px;
}

/* Main Started */

/* Main Section 1 Started */
.sec-1 {

    margin-top: 116px;
    margin-bottom: 116px;
    display: flex;
    justify-content: space-between;
}

.written1 {
    margin-left: 141px;
    padding-top: 63px;
}

.img1 {
    margin-right: 160px;
}

.img1 img {
    border-radius: 48px;
}

#action {
    margin-bottom: 23px;
    color: #252432;
    font-size: 42px;
    font-weight: 700px;
    font-family: Raleway;

}

#explore {
    margin-bottom: 23px;
    color: rgba(37, 36, 50, 0.50);
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
}

/* Main Section 2 started */

.sec-2{
    background-color: rgba(78, 71, 255, 0.10);
    padding: 50px 80px;
    border: none;
    margin-left: 141px;
    margin-right: 159px;
    margin-bottom: 137px;
    border-radius: 24px;
}

#joined {
    color: #252432;
    margin-bottom: 48px;
    font-size: 38px;
    font-family: Raleway;
    text-align: center;
    font-weight: 700px;
}

.calculation {
    display: flex;
    justify-content: center;
}

.cal{
    color: #4E47FF;
    font-size: 80px;
    font-weight: 700px;
    font-family: Inter;
}
.undercal{
    color: rgba(0, 0, 0, 0.50);
    font-size: 20px;
    font-weight: 400px;
    font-family: Inter;
}

.cal-1 {
    margin-right: 158px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cal-2 {
    margin-right: 158px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cal-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}